# System files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/
*.zip

# Chrome Extension specific
*.pem
*.crx